/*Variaveis de cor*/
:root {
  --primary: #33691e;
  --primary-dark: #003d00;
  --primary-light: #629749;
  --secondary: #ffffff;
  --fonte: #ffffff;
  --fonte-escura: #000000;
}

/* LOADER */
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../icons/loader.gif") 50% 50% no-repeat rgb(249, 249, 249);
  opacity: 1;
}

* {
  font-family: "Amarante", cursive;
}

/* NAVBAR */
.navbar-success,
.bg-success {
  background-color: rgba(51, 105, 30, 0) !important;

}
.nav-item {
  color: var(--fonte) !important;
}
.nav-item:hover {
  color: var(--fonte) !important;
  font-size: 1.2vw;
}

/* DIV HOME */
#div-home {
  background-color: rgba(51, 105, 30, 0.3);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 45.75vw;
}
#div-home::after {
  content: "";
  background-image: url("../icons/dungeons-and-dragons.jpg");
  opacity: 0.5;
  top: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
#div-home h1 {
  padding-top: 15vw;
  font-size: 4.25vw;
  color: var(--fonte);
}
#div-home p {
  color: var(--fonte);
}
#div-home hr {
  background-color: var(--fonte);
  width: 20vw;
}
